@using WordCounter.Models;
@{
  Layout = "_Layout";
}
<h1>Word Counter</h1>

  @foreach (Counter count in Model)
  {
    <h2>"@count.KeyWord" appeared in "@count.UserSentence" @count.Matches times</h2>
  }
</ul>

<a href="/counter/delete">Input a new Word and Sentence.</a>
<form action="/counter/delete" method="post">
<button type="submit">Delete</button>
</form>
