@using WordCounter.Models;
@{
  Layout = "_Layout";
}
<h1>Word Counter</h1>
<h2> Your word @Model.GetKeyWord() is in the sentence @Model.GetCounter() time(s) in the sentence @Model.GetSentence()</h2>
<a href="/wordcounters/new">Input a new Word and Sentence.</a>
