<h1>Here is how many times @Model.GetName was in @Model.GetSentence: </h1>

<h2>@Model.GetCounter()</h2>

<a href='/wordcounters/new'>Do another Word Counter?</a>
<a href='/wordcounters'>View all Word Counters</a>
