@{
  Layout = "_Layout";
}
<h2>Word: @Model.KeyWord</h2>
<h2>Sentence: @Model.UserSentence</h2>
<h2>Word Count: @Model.Matches</h2>

<a href='/counter/new'>Make Another Counter</a>
<a href='/counter'>View Words</a>
